<li>
  <%= link_to('Opdrachten', developer_path) %>
</li>
<li>
  <%= link_to "Verhoog krediet", increase_likes_developer_path, method: :post, class: "button primary" %>
</li>
<li>
  <%= link_to('Profiel', edit_developer_path) %>
</li>
