<div class="row">
  <div class="jumbotron text-center">
    <h1>Regexed maakt acquisitie eenvoudig</h1>
    <br/>
    <%= render("shared/acties") %>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-8 col-md-offset-2">
    <h1>Geef aan hoe je ideale opdracht eruit ziet</h1>
    <p>Op basis van jouw voorkeuren bieden wij je de ideale opdracht aan. Dit doen wij op basis van:</p>
    <ul>
      <li>Skills. In volgorde geef je aan waar je het beste in bent.</li>
      <li>Organisatie soort. Wil je graag samen werken met startups? Of grotere organisaties?</li>
      <li>Werk je graag vanuit huis</li>
      <li>Uurtarief. Je geeft een minium aan en een maximum. Dit is niet zichtbaar voor de organisatie, maar je weet wel dat je zaken kunt doen.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Wij maken automatisch de match</h1>
  </div>
</div>


<!--&lt;!&ndash; voor developers &ndash;&gt;-->
<!--<h1>Omdat je graag een eigen netwerk opbouwt.</h1>-->

<!--<h1>Omdat je liever direct met de 'eindklant' praat</h1>-->

<!--<h1>Omdat geld verdienen een resultaat is en niet een doel</h1>-->

<!--<h1>Omdat je ook nieuwe dingen wil doen</h1>-->

<!--<h1>Omdat je opdrachten wil zien die je werkelijk interesseren</h1>-->

<!--<h2>100% transparantie. Geen onzin. Geen gedoe.</h2>-->
