<div class="col-md-4 col-md-offset-4">
  <h1>Profiel</h1>
  <p>
    Vul hier in hoe je heet wat je kunt en wat je graag zou willen leren.
    Geef ook per wanneer je beschikbaar bent, wel zo handig.
  </p>

  <%= render "developers/form" %>

</div>
