<div class="row">
  <div class="jumbotron text-center">
    <h1>Developer</h1>
  </div>
</div>

<div class="col-md-4 col-md-offset-4">
  <p>
    Door je aan te melden als developer kun je:
  </p>
  <ul>
    <li>Eenvoudig je beschikbaarheid en voorkeuren opgeven</li>
    <li>Meteen zien welke opdrachten het meest relevant zijn</li>
    <li>Met 1 druk op de knop intresse aangeven en in contact komen</li>
  </ul>
  <p>
    Nadat je je voorkeuren hebt aangegeven kunnen we meteen jou de meest relevante opdrachten gaan tonen.
  </p>
  <%= render "developers/form" %>
</div>
