<li>
  <%= link_to('Opdrachten', organisations_path) %>
</li>
<li>
  <%= link_to('Plaats opdracht', new_opportunity_path) %>
</li>
<li>
  <%= link_to('Profiel', edit_organisation_path(current_user.role_organisation)) %>
</li>
