<li>
  <%= link_to(organisation_path, class: "text-normal-size") do %>
    <span class="glyphicon glyphicon-th-list"></span>
    Opdrachten
  <% end %>
</li>
<li>
  <%= link_to(opportunities_with_interest_organisation_path, class: "text-normal-size") do %>
    <span class="glyphicon glyphicon-thumbs-up"></span>
    Reacties
  <% end %>
</li>
<li>
  <%= link_to(closed_opportunities_organisation_path, class: "text-normal-size") do %>
    <span class="glyphicon glyphicon-trash"></span>
    Gesloten
  <% end %>
</li>
