<div class="page-organisations">
  <div class="profiel">
    <h3><%= @organisation.name %></h3>
    <p>
      <%= @organisation.pitch %>
    </p>
    <h3>Skills</h3>
    <p>
      <%= @organisation.skills %>
    </p>
  </div>
</div>
