<div class="col-md-4 col-md-offset-4">
  <div style="margin-bottom: 20px">
    <h1>Organisatie</h1>
    <p>
      Door je aan te melden als organisatie kun je:
    </p>
    <ul>
      <li>Opdrachten uitschrijven</li>
      <li>In contact komen met developers</li>
      <li>Een prive netwerk opbouwen</li>
    </ul>
    <p>
      Geef zo goed mogelijk op wat uw organisatie kenmerkt, deze gegevens worden gebruikt om een zo goed mogelijke match uit te rekenen met developers.
    </p>
    <p>
      <strong>Op dit moment is het aanmelden en plaatsen van opdrachten gratis.</strong>
    </p>
  </div>
  <%= render("organisations/form") %>
</div>
