<div class="col-md-4 col-md-offset-4">
  <h1>Organisatie</h1>
  <p>
    Vul hier hoe je organisatie heet. Wat je vooral doet en in welke skills je <em>altijd</em> interesse hebt.
  </p>
  <%= render("organisations/form") %>
</div>
