<div class="row">
  <div class="jumbotron text-center">
    <h1>Interesses</h1><br/>
    <h2>Op deze opdrachten hebben developers interesse getoond.</h2>
  </div>
</div>
<%= render partial: 'opportunities', locals: { :opportunities => @opportunities } %>
