<div class="page-welcome" style="margin-top: 100px">
  <h1>Wij maken acquisitie makkelijk</h1>
  <h2>Simpel. Direct. Doeltreffend.</h2>
  <br/>
  <div class="actions">
    <%= link_to "Start met effectief netwerken", new_user_registration_path, class: "link aanmelden button medium-btn call-to-action" %>
  </div>
</div>


<!--&lt;!&ndash; voor developers &ndash;&gt;-->
<!--<h1>Omdat je graag een eigen netwerk opbouwt.</h1>-->

<!--<h1>Omdat je liever direct met de 'eindklant' praat</h1>-->

<!--<h1>Omdat geld verdienen een resultaat is en niet een doel</h1>-->

<!--<h1>Omdat je ook nieuwe dingen wil doen</h1>-->

<!--<h1>Omdat je opdrachten wil zien die je werkelijk interesseren</h1>-->

<!--<h2>100% transparantie. Geen onzin. Geen gedoe.</h2>-->
