<!-- voor developers -->
<h1>Omdat je graag een eigen netwerk opbouwt.</h1>

<h1>Omdat je liever direct met de 'eindklant' praat</h1>

<h1>Omdat geld verdienen een resultaat is en niet een doel</h1>

<h1>Omdat je ook nieuwe dingen wil doen</h1>

<h1>Omdat je opdrachten wil zien die je werkelijk interesseren</h1>

<h2>100% transparantie. Geen onzin. Geen gedoe.</h2>

<%= link_to $>
