<div class="page-welcome" style="margin-top: 100px">
  <h1><em>Het</em> netwerk voor <em>jouw</em> succes</h1>
  <h2>Simpel. Direct. Doeltreffend.</h2>
  <br/>
  <div class="actions">
    <%= link_to "Start met effectief netwerken", new_user_registration_path, class: "link aanmelden button medium-btn call-to-action" %>
  </div>
</div>
