<div class="row text-center">
  <div class="jumbotron .col-sm-12 jumbotron-home">
    <h2>Regexed</h2>
    <h1>het netwerk voor freelance developers</h1>
    <h2>Opdrachten aanbieden en vinden. Netwerken. Samen werken.</h2>
    <br/>
    <%= render("shared/acties") %>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-offset-2 col-md-8">
    <p>
      <h1>Voor freelance developers</h1>
      <p>In één oogopslag opdrachten aangeboden waar je wel op zit te wachten</p>
      <%= link_to "Leg uit?", info_developers_path, class: "btn btn-info"%>
    </p>
  </div>
  <div class="col-md-offset-2 col-md-8">
    <p>
      <h1>Voor organisaties</h1>
      <p>Je zoekt samenwerkingsverbanden. Zodat je snel de juiste developer op het juiste moment voor de juiste prijs vindt</p>
      <%= link_to "Leg uit?", info_organisations_path, class: "btn btn-info"%>
    </p>
  </div>
</div>
