<div class="row">
  <div class="jumbotron .col-sm-12">
    <h1>Duurzaam ondernemen</h1>
    <h2>Een netwerk opbouwen. Relevante opdrachten zoeken en vinden. Win-win situaties creeëren.</h2>
    <h2>Dat is duurzaam ondernemen.</h2>
    <h2>Dat is Regexed.</h2>
    <br/>
    <%= render("acties") %>
  </div>
</div>
<a name="about"></a>
<div class="row">
  <div class="col-md-12">
    <p>
      <h1></h1>
    </p>
  </div>
</div>
