<div class="row text-center">
  <div class="jumbotron .col-sm-12 jumbotron-home">
    <h2>Regexed</h2>
    <h1>het netwerk voor freelance developers</h1>
    <h2>Opdrachten aanbieden en vinden. Netwerken. Samen werken.</h2>
    <br/>
    <%= render("shared/acties") %>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-offset-1 col-md-3">
    <p>
      <h2>oersimpel in gebruik</h2>
      <p>Reageren op een opdracht doe je met 1 muisklik. Contact gegevens zijn zo uitgewisseld.</p>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <h2>bespaar tijd</h2>
      <p>Met ons slimme matching algoritme zorgen we ervoor dat alleen relevante informatie wordt getoond. O.a. op basis van beschikbaarheid, vaardigheden en meer.</p>
    </p>
  </div>
  <div class="col-md-3">
    <p>
      <h2>jouw netwerk</h2>
      <p>Bouw je eigen netwerk op zodat je nog sneller mensen (of werk) kunt vinden</p>
    </p>
  </div>
</div>
