<div class="row text-center">
  <div class="jumbotron jumbotron-home">
    <h1>vind je volgende opdracht</h1>
    <h2>bij het slimste freelance developer netwerk</h2>
    <%= render("shared/acties") %>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-offset-1 col-md-3">
    <h2>slim aanbod</h2>
    <p>Op basis van je beschikbaarheid en vaardigheden tonen we relevante opdrachten.</p>
  </div>
  <div class="col-md-4">
    <h2>jouw netwerk</h2>
    <p>Bouw je prive netwerk op zodat je direct kunt zien of er wederom werk is bij een bedrijf waar je eerder hebt gewerkt.</p>
  </div>
  <div class="col-md-3">
    <h2>voor bedrijven</h2>
    <p>Je zoekt slimme beschikbare freelance developers. Regexed regelt dat.</p>
    <%= link_to("lees hier hoe we dat doen", info_organisations_path) %>
  </div>
</div>
