<div class="row text-center">
  <div class="jumbotron .col-sm-12">
    <h1>netwerk voor freelance developers en organisaties</h1>
    <h2>Relevante opdrachten aanbieden en vinden. Netwerken. Win-win situaties creeëren.</h2>
    <h2>Dat is Regexed</h2>
    <br/>
    <%= render("shared/acties") %>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-offset-2 col-md-8">
    <p>
      <h1>Voor freelance developers</h1>
      <p>Opdrachten vinden waar je wel op zit te wachten</p>
      <%= link_to "Leg uit?", info_developers_path, class: "btn btn-info"%>
    </p>
  </div>
  <div class="col-md-offset-2 col-md-8">
    <p>
      <h1>Voor organisaties</h1>
      <p>Je zoekt developers. Eenmaal gevonden wil je snel weten of ze eventueel voor een volgende opdracht beschikbaar zijn. Dit (en meer) kan Regexed voor jou betekenen</p>
      <%= link_to "Leg uit?", info_organisations_path, class: "btn btn-info"%>
    </p>
  </div>
</div>
