<div class="page-welcome" style="margin-top: 100px">
  <h1>Samen werken</h1>
  <h2>met een netwerk direct van organisaties en developers</h2>
  <div class="actions">
    <%= link_to "developer", developers_path, class: "link developer-link" %>
    <%= link_to "organisatie", bedrijven_path, class: "link bedrijf-link" %>
  </div>
  <div class="actions">
    <%= link_to "Hoe werkt het?", developers_path, class: "link hoewerkthet-link" %>
  </div>
</div>
