<div class="page-welcome" style="margin-top: 100px">
  <h2>Professionals zoeken is het halve werk</h2>
  <h1>Wij maken ondernemen duurzaam</h1>
  <br/>
  <div class="actions">
    <%= link_to "Start met effectief netwerken", new_user_registration_path, class: "link aanmelden button medium-btn call-to-action" %>
  </div>
</div>
