<div class="row">
  <div class="jumbotron text-center">
    <h1>Opdracht wijzigen</h1>
  </div>
</div>
<div class="row text-center">
  <p>Nadat je de opdracht gewijzigd hebt, berekenen wij opnieuw de matches.</p>
  <p>Zo blijft het aanbod relevant en actueel.</p>
</div>

<%= render('form') %>
