.page-header
  background-color: white
  width: 100%
  height: 50px
  border-style: solid
  border-bottom: thick dotted #ff0000

  ul
    float: right
    list-style: none
    padding-left: 0px
    margin-bottom: 0px
    li
      display: inline-block
      position: relative
      margin-left: 15px
      margin-right: 15px

