.navbar
  margin-bottom: 0px
  color: white
  border: none
  border-radius: 0px

body
  font-size: 1.8em

.row-margins
  margin-bottom: 50px
  margin-top: 25px

.footer
  background-color: #F8F8F8
  height: 250px
  margin-bottom: 0px
  margin-top: 100px
  padding-top: 50px
  color: black
  border: none
  border-radius: 0px

.jumbotron
  background-color: white

#error_explanation
  margin-bottom: 24px

.field_with_errors
  label
    color: red
  input
    border-color: red
    outline: 0
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(220, 17, 27, 0.60)

.opportunities-summary
  margin-bottom: 24px

.text-normal-size
  font-size: 0.8em


.form-control
  margin-bottom: 30px

.jumbotron
  h1
    margin-top: 120px

.jumbotron-home
  color: white
  text-shadow: 0px 1px black
  height: 700px
  background: image-url("jumbotrons/home.jpg") no-repeat
  background-position: center

.jumbotron-organisation
  color: white
  text-shadow: 0px 1px black
  height: 700px
  background: image-url("jumbotrons/organisation.jpg") no-repeat
  background-position: center

.jumbotron-developer
  color: white
  text-shadow: 0px 1px black
  height: 700px
  background: image-url("jumbotrons/developer.jpg") no-repeat
  background-position: center

.jumbotron-stats
  color: white
  text-shadow: 0px 1px black
  height: 700px
  background: image-url("jumbotrons/broken-glas.jpg") no-repeat
  background-position: center

.jumbotron-money
  color: white
  text-shadow: 0px 1px black
  height: 700px
  background: image-url("jumbotrons/hands.jpg") no-repeat
  background-position: center

.jumbotron-contact
  color: white
  text-shadow: 0px 1px black
  height: 700px
  background: image-url("jumbotrons/iphone-6-tree.jpg") no-repeat
  background-position: center

a
  color: #3bc481

  &:hover
    color: darken(#3bc481, 10%)

.btn
  background-color: #3bc481
  border-color: #248659
  color: white

  &:hover
    background-color: darken(#3bc481, 10%)
    border-color: darken(#248659, 10%)
    color: darken(white, 10%)

.jumbotron
  .btn-lg
    padding: 12px 16px
    font-size: 20px
    margin-top: 100px

.btn-info
  background-color: #C46C56
  border-color: darken(#C46C56, 10%)
  color: white

  &:hover
    background-color: darken(#C46C56, 10%)
    border-color: darken(#C46C56, 20%)
    color: darken(white, 10%)

.btn-warning
  background-color: #EC971F
  border-color: darken(#EC971F, 10%)
  color: white

  &:hover
    background-color: darken(#EC971F, 10%)
    border-color: darken(#EC971F, 20%)
    color: darken(white, 10%)

.btn-danger
  background-color: #C9302C
  border-color: darken(#C9302C, 10%)
  color: white

  &:hover
    background-color: darken(#C9302C, 10%)
    border-color: darken(#C9302C, 20%)
    color: darken(white, 10%)


