.navbar
  margin-bottom: 0px
  color: white
  border: none
  border-radius: 0px

body
  font-size: 1.8em

.footer
  margin-bottom: 0px
  color: white
  border: none
  border-radius: 0px

.jumbotron
  background-color: white

#error_explanation
  margin-bottom: 24px


.opportunities-summary
  margin-bottom: 24px
