.page-welcome
  margin-top: 0px
  height: 100vh

  h2
    text-align: center

  h1
    margin-top: 0px
    text-align: center

  .link
    color: white
    text-decoration: none
    background-color: darkslateblue
    padding: 5px 30px 5px 30px
    border-radius: 25px
    font-size: 2em
    margin-right: 50px
    &.aanmelden
      margin-bottom: 50px

  .actions
    margin-top: 25px
    text-align: center
