<div class="page-aanmelden">
  <h1>Wat ben je?</h1>
  <div class="actions">
    <%= link_to "Ik ben een developer", aanmelden_developer_path, class: "link developer-link" %>
    <%= link_to "Ik ben een organisatie", aanmelden_organisatie_path, class: "link bedrijf-link" %>
  </div>
</div>
