<div class="jumbotron">
  <h1>Hoe kunnen wij je helpen?</h1>
</div>
<div class="row">
  <div class="col-md-6">
    <%= link_to "Ik zoek werk", aanmelden_developer_path, class: "btn btn-primary btn-lg btn-block" %>
  </div>
  <div class="col-md-6">
    <%= link_to "Ik zoek professionals", aanmelden_organisatie_path, class: "btn btn-primary btn-lg btn-block" %>
  </div>
</div>
