<div class="row">
  <div class="jumbotron text-center">
    <h1>Welkom!</h1>
    <h2>Hoe kunnen wij je helpen?</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= link_to "Ik zoek werk", new_developer_path, class: "btn btn-primary btn-lg btn-block" %>
  </div>
  <div class="col-md-6">
    <%= link_to "Ik zoek developers", new_organisation_path, class: "btn btn-primary btn-lg btn-block" %>
  </div>
</div>
