<div class="row">
  <div class="jumbotron text-center">
    <h1>Algemene voorwaarden Regexed</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
  <p>
    Lees deze voorwaarden zorgvuldig door. Als je vragen hebt neem dan gerust contact met ons op.
  </p>

  <p>
    Door Regexed op enigerlei wijze te gebruiken erken je kennis te hebben genomen van en onvoorwaardelijk akkoord te gaan met de algemene voorwaarden.
  </p>

  <h3>Intellectueel Eigendom</h3>
  <p>Regexed zal nooit het eigendom claimen over de inhoud van jouw account. Met andere woorden, je data is en blijft altijd jouw eigendom.</p>

  <p>Het is niet toegestaan om HTML en/of CSS en/of plaatjes (her) te gebruiken voor eigen of commercieel gebruik zonder toestemming van Regexed.</p>

  <p>Je zult geen delen van Regexed of Regexed in zijn geheel reproduceren, kopiëren, dupliceren, verkopen of doorverkopen zonder uitdrukkelijke toestemming van Regexed.</p>

  <h3>Inspanningen Regexed</h3>
  Regexed zal zich inspannen om Regexed ter beschikking aan je te stellen. Regexed garandeert niet dat Regexed te allen tijde, ononderbroken of volledig beschikbaar zal zijn.

  <h3>Regexed behoudt zich het recht voor om:</h3>
  <p>
    <ul>
    <li>Regexed onaangekondigd te blokkeren of deze buiten gebruik te stellen ten behoeve van onderhoud, aanpassing of verbetering daarvan;</li>
    <li>onaangekondigd onderdelen van Regexed aan te passen, uit te breiden, te schrappen of anderszins te wijzigen.</li>
    Regexed garandeert niet dat Regexed vrij is van fouten of gebreken of dat Regexed actueel, compleet of accuraat is.
    </ul>
  </p>

  Regexed streeft er naar, maar garandeert niet, dat: 1) Regexed voldoet aan jouw specifieke wensen, 2) Regexed een correcte werking heeft, 3) fouten in Regexed worden verbeterd.

  Aansprakelijkheid, vrijwaring en overmacht
  Indien Regexed aansprakelijk mocht zijn, dan is deze aansprakelijkheid beperkt tot hetgeen in deze bepaling is geregeld. De eventuele totale aansprakelijkheid van Regexed wegens toerekenbare tekortkoming in de nakoming van de Overeenkomst, is beperkt tot vergoeding van directe schade tot maximaal het bedrag dat je als in een jaar hebt betaald aan Regexed voor het gebruik van Regexed.

  Regexed is niet aansprakelijk voor schade, van welke aard ook, ontstaan doordat Regexed is uitgegaan van door jouw verstrekte onjuiste en/of onvolledige gegevens.

  Regexed is nimmer aansprakelijk voor indirecte schade, daaronder begrepen gevolgschade, gederfde winst, gemiste besparingen en schade door bedrijfsstagnatie.

  Regexed is uitsluitend aansprakelijk voor directe schade. Onder directe schade wordt uitsluitend verstaan:
  de redelijke kosten ter vaststelling van de oorzaak en de omvang van de schade, voor zover de vaststelling betrekking heeft op schade in de zin van deze voorwaarden;
  de eventuele redelijke kosten gemaakt om de gebrekkige prestatie van Regexed aan de overeenkomst te laten beantwoorden, voor zoveel deze aan Regexed toegerekend kunnen worden;
  redelijke kosten, gemaakt ter voorkoming of beperking van schade, voor zover je aantoont dat deze kosten hebben geleid tot beperking van directe schade als bedoeld in deze algemene voorwaarden.
  Voorwaarde voor het ontstaan van enig recht op schadevergoeding is steeds dat je de schade zo spoedig mogelijk na het ontstaan daarvan schriftelijk bij Regexed meldt en Regexed een redelijke termijn hebt gegeven om een eventueel gebrek te herstellen. Iedere vordering tot schadevergoeding tegen Regexed vervalt door het enkele tijdsverloop van twaalf (12) maanden na het ontstaan van de eerste schade.

  Je vrijwaart Regexed voor eventuele aanspraken van derden, de kosten van rechtsbijstand daaronder begrepen, die in verband met de uitvoering van de overeenkomst schade lijden en waarvan de oorzaak aan andere dan aan Regexed toerekenbaar is.

  Regexed is niet gehouden tot het nakomen van enige verplichting indien Regexed daartoe verhinderd is als gevolg van overmacht. Onder overmacht wordt mede verstaan tekortkomingen van door Regexed ingeschakelde derden, alsmede onderbrekingen of storingen in de stroom- en/of telecommunicatievoorzieningen.

  Wanneer de overmachtsituatie langer dan zestig (60) dagen heeft geduurd, heb je het recht jouw account te beëindigen zonder dat Regexed tot restitutie van eventueel betaalde vergoedingen, dan wel tot enige andere vergoeding van kosten of schade is gehouden.

  Back up van data en dataverlies
  Van alle data wordt ieder uur een backup gemaakt en deze backup wordt weer via een versleutelde verbinding op een andere server geplaatst. Alle data wordt verzonden via een beveiligde verbinding, een zogenaamde SSL verbinding, naar onze server bij Digital Ocean in Amsterdam.

  Daarnaast raden we je met klem aan om maandelijks en jaarlijks zelf je data uit Regexed te exporteren. De Belastingdienst stelt iedere ondernemer verplicht dat zijn administratie 7 jaar lang bewaart blijft. Hier ben je te allen tijde zelf aansprakelijk voor.

  Oja, nog een paar belangrijke dingen
  Je dient jouw eigen persoonlijke gegevens te verstrekken tijdens het aanmeld proces.
  Je login gegevens zijn strikt persoonlijk en mogen niet met andere personen worden gedeeld.
  Je bent te allen tijde zelf aansprakelijk voor het geheimhouden van je gebruikersnaam en wachtwoord, Regexed kan hiervoor niet aansprakelijk worden gesteld.
  We adviseren je vanwege de veiligheid van je account om regelmatig je wachtwoord te wijzigen en te kiezen voor een uniek wachtwoord dat je alleen voor Regexed gebruikt.
  Je bent aansprakelijk voor alle activiteiten en content die geplaatst wordt onder je account (tevens voor de gebruikers/ teamgenoten die aangemaakt worden onder je account).
  Het is niet toegestaan om Regexed te gebruiken voor illegale doeleinden, je dient dus de Nederlandse wetgeving niet te schenden.
  Regexed gebruikt daarnaast diensten (hardware, software, netwerk, data opslag, etc.) van derde partijen voor het leveren van Regexed. Je zult Regexed niet proberen te hacken en/of websites op te zetten welke zich voordoen als onderdeel van Regexed.
  Je zult geen wormen en/of virussen en/of andere vormen van destructieve code plaatsen op Regexed.
  Wil je meer weten over hoe Regexed omgaat met jouw privacy? Lees dan ook het Privacy Statement eens zorgvuldig door.
  Wijzigen voorwaarden
  Regexed behoudt het recht om deze algemene voorwaarden te eenzijdig wijzigen. Je wordt geadviseerd om de website van Regexed de algemene voorwaarden regelmatig op wijzigingen te checken. Indien je ook na wijziging van de algemene voorwaarden gebruik blijft maken van Regexed, wordt je geacht de gewijzigde algemene voorwaarden onherroepelijk te hebben aanvaard.
    </div>
</div>
