<div class="row">
  <div class="jumbotron text-center">
    <h1>Algemene voorwaarden Regexed</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>TBD</p>
  </div>
</div>
