<div class="row">
  <div class="jumbotron text-center">
    <h1>Contact</h1>
    <br/>
  </div>
</div>
<div class="row text-center">
  <h2>Regexed is een initiatief van Fundynamic</h2>
  <h3>E-mail</h3>
  <h4>regexed@fundynamic.com</h4>
  <br/>
  <h3>Telefoon</h3>
  <p>Anonieme bellers worden genegeerd</p>
  <h4>06-24107184</h4>
  <br/>
  <h3>Fundynamic</h3>
  <h4><a href="http://www.fundynamic.com">www.fundynamic.com</a></h4>
</div>
