<div class="row">
  <div class="jumbotron text-center">
    <h1>Contact</h1>
    <br/>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-10 col-md-offset-1">
    <h2>Samen staan we sterk</h2>
    <p>Bijvoorbeeld:</p>
    <p>Skills. In volgorde geef je aan waar je het beste in bent.</p>
    <p>Organisatie soort. Wil je graag samen werken met startups? Of grotere organisaties?</p>
    <p>Werk je graag vanuit huis?</p>
    <p>Prijs. Werk je op uurbasis? Dan geef je een minimum en maximum. Dit is niet zichtbaar voor de organisatie, maar je weet wel dat je zaken kunt doen.</p>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-10 col-md-offset-1">
    <h2>Je bent straks beschikbaar. Regexed staat al klaar.</h2>
    <p>Jij hoeft niet opnieuw te 'zoeken'. Regexed zoekt voor jou vanaf je beschikbare datum.</p>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-10 col-md-offset-1">
    <h2>Regexed biedt transparantie in een ontransparante markt</h2>
    <p></p>
  </div>
</div>


<!--&lt;!&ndash; voor developers &ndash;&gt;-->
<!--<h1>Omdat je graag een eigen netwerk opbouwt.</h1>-->

<!--<h1>Omdat je liever direct met de 'eindklant' praat</h1>-->

<!--<h1>Omdat geld verdienen een resultaat is en niet een doel</h1>-->

<!--<h1>Omdat je ook nieuwe dingen wil doen</h1>-->

<!--<h1>Omdat je opdrachten wil zien die je werkelijk interesseren</h1>-->

<!--<h2>100% transparantie. Geen onzin. Geen gedoe.</h2>-->
