<div class="row">
  <div class="jumbotron text-center jumbotron-developer">
    <h2>Regexed</h2>
    <h1>meer dan acquisitie</h1>
    <br/>
    <%= render("shared/acties") %>
  </div>
</div>
<div class="row text-center">
  <p>Waarom zou je 'zoeken' naar opdrachten als je dat kan automatiseren? Je ziet meteen wat voor <em>jou</em> relevant is en reageert met 1 druk op de knop.</p>
</div>
<div class="row text-left">
  <div class="col-md-5 col-md-offset-1">
    <h2>Je wil alleen relevante opdrachten zien</h2>
    <p>Je hebt het al druk genoeg. Dat begrijpen we. Daarom bieden we alleen jou opdrachten aan die aansluiten op jouw (zelf opgegeven) voorkeuren.</p>
    <p>Een greep uit de voorkeuren</p>
    <ul>
      <li>Jouw beschikbaarheid (datum). Hoe kleiner het gat is tussen 'beschikbaar' en 'start datum opdracht' hoe meer relevant.</li>
      <li>Jouw vaardigheden. Hoe meer vaardigheden matchen hoe meer relevant.</li>
    </ul>
  </div>
  <div class="col-md-5 text-right">
    <h2></h2>
    <span>
        <!--<img src="http://www.fundynamic.com/images/companies/xebialabs.jpg" width="200" height="200"/>-->
    </span>
  </div>
</div>
<div class="row text-right">
  <div class="col-md-5 col-md-offset-6">
    <h2>Je wil gemak</h2>
    <p>Lijkt een opdracht je wat? Met 1 druk op de knop 'toon je interesse'.</p>
    <p>De organisatie krijgt toegang tot jouw contact gegevens.</p>
    <p>De organisatie neemt contact met jou op.</p>
  </div>
</div>
<div class="row text-left">
  <div class="col-md-5 col-md-offset-1">
    <h2>Je eigen slimme netwerk</h2>
    <p>Houd organisaties bij in je privé netwerk.</p>
    <p>Bedrijven in je netwerk hebben meteen toegang tot je contact gegevens en kunnen je sneller benaderen. Niet nodig om interesse te tonen.</p>
  </div>
</div>
<div class="row text-right">
  <div class="col-md-5 col-md-offset-6">
    <h2>Je wil zelf bepalen of je wel (of niet) direct contact hebt met de 'eindklant'</h2>
    <p>Regexed laat allerlei organisaties (ook intermediairs) opdrachten plaatsen.</p>
    <p>Je kunt in je voorkeuren aangeven voor welke 'soorten organisaties' je opdrachten wil zien. Wil je graag zaken doen met alleen Intermediairs? Of omgekeerd? Maakt niet uit? Jouw keuze.</p>
  </div>
</div>
<div class="row text-left">
  <div class="col-md-5 col-md-offset-1">
    <h2>Je wil eenvoud</h2>
    <p>Regexed is geen intermediair.</p>
    <p>Regexed pakt geen marges. Geen gedoe.</p>
    <p>Regexed staat voor transparantie, duidelijkheid en eenvoud.</p>
  </div>
</div>
