<div class="row">
  <div class="jumbotron text-center">
    <h1>Regexed</h1>
    <h2>Manifesto</h2>
    <br/>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-10 col-md-offset-1">
    <h2>Zelfbeschikking boven afhankelijkheid</h2>
    <p>Wij geloven dat je zelf het heft in handen wil (blijven) houden.</p>
    <p>Regexed biedt organisaties en developers een manier om zo eenvoudig mogelijk vraag en aanbod bij elkaar te brengen.</p>
    <p>Dit doen wij door enerzijds slim te matchen (maar nooit uit te sluiten) en anderzijds de mogelijkheid te bieden 'privé netwerken' op te bouwen.</p>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-10 col-md-offset-1">
    <h2>Transparantie</h2>
    <p>Wij geloven dat je helder moet zijn over wat je doet en hoe je dat doet.</p>
    <p>Ons matching algoritme is simpel en doeltreffend.</p>
    <p>Dit houdt in dat we helder zijn hoe <%= link_to "groot Regexed is", stats_path %> en hoe oersimpel ons <%= link_to "prijzen model", prijzen_path %> is.</p>
    <p>Geen veborgen dingen, etc. Ik weet niet zo heel goed wat k hier mee moet. Iets erover dat we niets verbergen. Er is niets te verbergen. We tonen meteen de contact gegevens bij interesse. We zijn heel duidelijk in ons prijzen model. Etc</p>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-10 col-md-offset-1">
    <h2>Betrouwbaarheid</h2>
    <p>Wij geloven in een zelfreinigend vermogen van een gemeenschap.</p>
    <p>Dit betekent dat je als gebruiker van deze site je beoordelingen kunt bijhouden. Deze worden indien je wil gecommuniceerd met de betreffende partij. Met deze beoordelingen houden wij rekeningen voor jouw matches.</p>
    <p>Heb jij dus een hele goede ervaring met een bedrijf? Dan kun je dat aangeven en zullen we deze hoger scoren ondanks dat wellicht de opdracht wat later begint dan een andere.</p>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-10 col-md-offset-1">
    <h2>Eenvoud</h2>
    <p>Relevante mensen bij elkaar brengen. Dat is het enige wat Regexed beoogt. Zonder ingewikkelde zoek filters.</p>
    <p>Geef eenmaal je voorkeuren op en wij kunnen aan de slag.</p>
  </div>
</div>
