<div class="row">
  <div class="jumbotron text-center">
    <h1>Regexed maakt het vinden van developers eenvoudig</h1>
    <br/>
    <%= render("shared/acties") %>
  </div>
</div>


<!--&lt;!&ndash; voor companies &ndash;&gt;-->
<!--<h1>Omdat je graag een eigen netwerk opbouwt.</h1>-->

<!--<h1>Omdat je liever direct met de 'kandidaat' praat</h1>-->

<!--<h1>Omdat geld verdienen een resultaat is en niet een doel</h1>-->

<!--<h1>Omdat je graag je eigen netwerk bouwt met mensen waar je mee hebt samen gewerkt</h1>-->

<!--<h1>Omdat je snel wil zien wie beschikbaar is voor een opdracht</h1>-->

<!--<h2>100% transparantie. Geen onzin. Geen gedoe.</h2>-->
