<div class="row">
  <div class="jumbotron text-center">
    <h1>Regexed</h1>
    <h2>meer dan zoeken naar developers</h2>
    <br/>
    <%= render("shared/acties") %>
  </div>
</div>
<div class="row text-center">
  <p>Waarom zou je 'zoeken' naar developers als je dat kan automatiseren? Plaats een opdracht, wees specifiek met je wensen en laat ons het match werk doen.</p>
</div>
<div class="row text-left">
  <div class="col-md-5 col-md-offset-1">
    <h2>Je houdt van simpel</h2>
    <p>Ons matching algoritme houdt rekening met beschikbaarheid en vaardigheden. Zodra een developer interesse toont krijg je dit te zien en kun je contact opnemen.</p>
    <p>Je zult meteen zien wanneer de developer beschikbaar is en welke vaardigheden hij beschikt zodat je snel kan beoordelen of het een wederzijdse match is.</p>
    <p>Uiteraard helpen we je daar ook bij door de meest relevante developer bovenaan te plaatsen (bij meerdere interesses)</p>
  </div>
  <div class="col-md-5 text-right">
    <h2></h2>
    <span>
        <!--<img src="http://www.fundynamic.com/images/companies/xebialabs.jpg" width="200" height="200"/>-->
    </span>
  </div>
</div>
<div class="row text-right">
  <div class="col-md-5 col-md-offset-6">
    <h2>Je wil goede ervaringen onthouden</h2>
    <p>Beoordeel developers waar je mee hebt gewerkt. (interne boekhouding)</p>
    <p>Regexed houdt rekening met de beoordeling tijdens het matchen.</p>
  </div>
</div>
<div class="row text-left">
  <div class="col-md-5 col-md-offset-1">
    <h2>Je eigen slimme netwerk</h2>
    <p>Houd developers bij in je prive netwerk.</p>
    <p>Bij het plaatsen van opdrachten kun je meteen zien wie beschikbaar is binnen je prive netwerk en meteen acteren.</p>
  </div>
</div>

<!--&lt;!&ndash; voor companies &ndash;&gt;-->
<!--<h1>Omdat je graag een eigen netwerk opbouwt.</h1>-->

<!--<h1>Omdat je liever direct met de 'kandidaat' praat</h1>-->

<!--<h1>Omdat geld verdienen een resultaat is en niet een doel</h1>-->

<!--<h1>Omdat je graag je eigen netwerk bouwt met mensen waar je mee hebt samen gewerkt</h1>-->

<!--<h1>Omdat je snel wil zien wie beschikbaar is voor een opdracht</h1>-->

<!--<h2>100% transparantie. Geen onzin. Geen gedoe.</h2>-->
