<div class="row">
  <div class="jumbotron text-center jumbotron-organisation">
    <h1>vind freelance developers</h1>
    <div style="margin-top: 40px">
      <%= link_to "probeer nu gratis", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>
<div class="row text-center row-margins">
  <div class="col-md-offset-1 col-md-3">
    <h2>bespaar tijd</h2>
    <p>Beschikbaar? Juiste vaardigheden? Laat regexed deze vragen beantwoorden. Dan houd jij tijd over.</p>
  </div>
  <div class="col-md-4">
    <h2>jouw netwerk</h2>
    <p>Bouw je prive netwerk op zodat je direct contact onderhoud met freelancers.</p>
  </div>
  <div class="col-md-3">
    <h2>oersimpel in gebruik</h2>
    <p>Reageren op een opdracht doe je met 1 muisklik. Contact gegevens zijn zo uitgewisseld.</p>
  </div>
</div>
<div class="row text-center">
  <p>Je eerste opdracht binnen 5 minuten aangeboden. Zo gepiept!</p>
  <%= link_to "probeer nu gratis", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>

