<div class="row">
  <div class="jumbotron text-center jumbotron-organisation">
    <h1>vind freelance developers</h1>
    <%= render("shared/acties") %>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-offset-1 col-md-3">
    <h2>bespaar tijd</h2>
    <p>Beschikbaar? Juiste vaardigheden? Laat regexed deze vragen beantwoorden. Dan houd jij tijd over.</p>
  </div>
  <div class="col-md-4">
    <h2>jouw netwerk</h2>
    <p>Bouw je prive netwerk op zodat je direct contact onderhoud met freelancers.</p>
  </div>
  <div class="col-md-3">
    <h2>oersimpel in gebruik</h2>
    <p>Reageren op een opdracht doe je met 1 muisklik. Contact gegevens zijn zo uitgewisseld.</p>
  </div>
</div>
