<div class="row">
  <div class="jumbotron text-center">
    <h1>Wat kost het?</h1>
    <h2>Nu: niets. Later: naar gebruik.</h2>
    <h2>Wel zo eerlijk</h2>
    <br/>
  </div>
</div>
<div class="row text-center">
  <h3>Dus het is gratis?</h3>
  Omdat we net begonnen zijn is alles gratis. Dit zal in de toekomst anders gaan worden.
</div>
<br/>
<div class="row text-center">
  <h3>En in 'de toekomst' dan?</h3>
  <p>Dit platform kost geld en zal uiteindelijk ook inkomsten moeten genereren om levensvatbaar te blijven.</p>
  <p>We geloven dat betalen naar gebruik het eerlijkste is. Hoe dit exact uitgewerkt gaat worden zal later bekend worden gemaakt.</p>
</div>
<br/>
<div class="row text-center">
  <h3>Wat houdt betalen naar gebruik in?</h3>
  <p>Betalen naar gebruik houdt in dat je betaalt voor bepaalde features in de site. Bijvoorbeeld: een organisatie betaalt een vast bedrag voor een plaatsing van een opdracht.</p>
  <p>Wat werkelijk betaalde features gaan worden (en voor wie) zal snel duidelijk worden</p>
</div>


