<!DOCTYPE html>
<html>
<head>
  <title>Regexed</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="page-header">
  <ul>
    <li>Foo</li>
    <li>Inloggen</li>
  </ul>
  <div style="clear: both"></div>
</div>
<%= yield %>

</body>
</html>
